@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Source Sans Pro;
  font-weight: 400;
}

button,
label {
  cursor: pointer;
}

/* 
body {
  overflow: hidden;
} */

:root {
  --blue: #1d9bf0;
  --blue-a: #1d9bf01a;
  --black: #0f1419;
  --black-a: #0f14191a;
  --gray: #536471;
  --border: #eff3f4;
}

.app {
  display: flex;
  max-height: 100vh;
  max-width: 1278px;
  margin: 0 auto;
  padding: 0 10px;
}

/* sidebar */

.sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px 0;
  height: 52px;
  width: 52px;
  border-radius: 50%;
  transition: background-color 200ms;
}

.sidebar__twitter {
  height: 50.4px;
  width: 50.4px;
  padding: 11px;
  color: var(--blue);
  cursor: pointer;
}

.sidebar__logo:hover {
  background-color: var(--blue-a);
}

.sidebar__nav {
  margin-top: 4px;
  width: 263px;
}

/* sidebarbox */

.sidebar__box {
  display: flex;
  padding: 4px 0;
  cursor: pointer;
}

.sidebar__link {
  display: flex;
  align-items: center;
  border-radius: 52.25px;
  transition: background-color 200ms;
}

.sidebar__box:hover .sidebar__link {
  background-color: var(--black-a);
}

.sidebar__icon {
  height: 50.25px;
  width: 50.25px;
  padding: 12px;
}

.sidebar__text {
  padding: 0 28px 0 8px;
  color: var(--black);
  font-size: 22px;
}

.sidebar__tweet {
  margin: 8px 0;
  height: 52px;
  width: 225.9px;
  background-color: var(--blue);
  border: 0.8px solid transparent;
  border-radius: 25.2px;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 0.04em;
  box-shadow: rgb(0 0 0 / 8%) 0px 8px 28px;
  cursor: pointer;
}

.sidebar__tweet:hover {
  background-color: #1a8cd8;
}

.sidebar--true .sidebar__text {
  font-weight: 700;
}

/* main */

.main {
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.main::-webkit-scrollbar {
  display: none;
}

.main__top {
  position: sticky;
  top: 0;
  background-color: #ffffffd9;
  border-bottom: 1px solid var(--border);
  backdrop-filter: blur(12px);
}

.main__title {
  display: flex;
  align-items: center;
  padding: 0 16px;
  height: 53px;
  color: var(--black);
  font-size: 22px;
  font-weight: 700;
}

.main__options {
  display: flex;
  height: 53px;
}

.main__option {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 119.91px 1px 119.91px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.main__option::after {
  content: '';
  position: absolute;
  bottom: 0.5px;
  height: 4px;
  width: 56px;
  background-color: var(--blue);
  border-radius: 2px;
}

.main__option:hover {
  background-color: var(--black-a);
}

.main__box {
  height: 119.2px;
  padding: 8px 16px 8px 16px;
  border-bottom: 1px solid var(--border);
}

.main__personal {
  display: flex;
}

.main__avatar {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

.main__input {
  padding: 14px 0 14px 14px;
  border: none;
  outline: none;
  font-size: 22px;
}

.main__buttons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 62px;
  height: 48px;
}

.main__links {
  display: flex;
  padding-bottom: 1px;
}

.main__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 36px;
  width: 36px;
  color: var(--blue);
  opacity: 0.5;
}

.main__icon {
  font-size: 19px;
}

.main__tweet {
  margin: 0 2px 0.2px 0;
  padding: 6px 17px 8.4px 16px;
  background-color: var(--blue);
  border: 0.8px solid transparent;
  border-radius: 37.2px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  opacity: 0.5;
}

/* post */

.post {
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
  border-bottom: 1px solid var(--border);
  cursor: pointer;
}

.post:hover {
  background-color: #00000008;
}

.post__avatar {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

.post__body {
  display: flex;
  flex-direction: column;
  width: 506.4px;
}

.post__user {
  display: flex;
  align-items: center;
}

.post__display-name {
  color: var(--black);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.02em;
}

.post__verified {
  margin: 2px 0 0 2px;
  padding: 1.375px;
  height: 18.75px;
  width: 18.75px;
  color: var(--blue);
  letter-spacing: 0.02em;
}

.post__username {
  padding-left: 4px;
  color: var(--gray);
  font-weight: 400;
}

.post__text {
  color: var(--black);
}

.post__image {
  margin-top: 14px;
  width: 506.4px;
  background-color: black;
  border-radius: 16px;
}

.post__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  height: 20px;
  max-width: 425px;
}

.post__blue,
.post__green,
.post__red {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34.75px;
  width: 34.75px;
  border-radius: 50%;
  transition: background-color 200ms;
}

.post__blue:hover {
  background-color: var(--blue-a);
}

.post__green:hover {
  background-color: #00ba7c1a;
}

.post__red:hover {
  background-color: #f918801a;
}

.post__icon {
  color: var(--gray);
  transition: color 200ms;
}

.post__blue:hover .post__icon {
  color: var(--blue);
}

.post__green:hover .post__icon {
  color: #00ba7c;
}

.post__red:hover .post__icon {
  color: #f91880;
}

/* widgets */

.widgets {
  margin-left: 30px;
  width: 350px;
}

.widgets__search {
  display: flex;
  align-items: center;
  margin-top: 5px;
  padding: 0 0 0.8px 21px;
  height: 44px;
  width: 350px;
  background-color: #eff3f4;
  border-radius: 21.2px;
}

.widgets__icon {
  color: var(--gray);
}

.widgets__input {
  padding: 0 0 0.8px 20px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  letter-spacing: 0.02em;
}

.widgets__box {
  margin-top: 16px;
  padding: 0 16px;
  background-color: #f7f9f9;
  border: 1px solid #f7f9f9;
  border-radius: 16px;
}

.widgets__title {
  padding: 10px 0;
  color: var(--black);
  font-size: 22px;
  font-weight: 700;
}